<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculation Result</title>
</head>
<body>
    <h1>Calculation Results</h1>
    <p>Mean Square Error: {{ mse }}</p>
    <p>Binary Entropy Loss: {{ binary_loss }}</p>
    <p>Cross Entropy Loss: {{ cross_loss }}</p>

    <h2>Activation Functions Results</h2>
    <p>Sigmoid: {{ sigmoid }}</p>
    <p>ReLU: {{ relu }}</p>
    <p>Softmax: {{ softmax }}</p>
    <p>Tanh: {{ tanh }}</p>

    <a href="/">Go back</a>
</body>
</html>
